# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environment
.env
venv/
.venv/

# Data
*.pkl
*.db
*.sqlite3
*.log
*.csv
*.json

# IDE
.vscode/
.idea/

#UI
assets/

# Legacy Code
legacy/
src/legacy/

# Misc
.DS_Store
tech_strategy.md
modules.png